In [1]:
import pandas as pd

In [4]:
df = pd.read_excel('C:/Users/Hazel/Downloads/HireArt - Data Analyst Exercise 10.12.17.xlsx')

In [5]:
df.head()

,Account manager,Client Name,Date of Contact,Unnamed: 3,Unnamed: 4
0,Milan Crona,"Wyman, Farrell and Haag",2015,10,31
1,Aidan Pouros,"Veum, McClure and Schuster",2013,12,15
2,Aidan Pouros,"Veum, McClure and Schuster",2013,12,7
3,Milan Crona,Armstrong Group,2013,11,2
4,Aidan Pouros,"Lueilwitz, Moore and Hahn",2013,12,25

In [8]:
df.groupby('Unnamed: 3')['Client Name'].count()

Unnamed: 3
1      60
2      64
3      58
4      52
5      69
6      77
7      66
8      79
9     121
10    213
11     65
12     77
Name: Client Name, dtype: int64